
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav {
    background-color: rgb(173, 110, 65) ;
}
.navbar .navbar-brand{
   color: white;
}
.navbar a{
    color: black ;
  
}

.navbar a{
   
    transition: all 0.5 ease-in-out;
}


nav form button{
    border-radius: 0;
    border: 2px solid white;
    
}
 section {
    background-repeat: no-repeat;
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-image: url(image/bc3.png);
    
 }
  
 section div .button button{
    transition: 0.5s ease-in-out;
  
 }
 section div .button button:hover{
    color:  white !important;
    background-color: rgb(173, 110, 65) !important;
    
 }
 div .submit button{
    color:rgb(173, 110, 65) ;
    border-color: rgb(173, 110, 65)  !important;
 }

 .about .color{
    color:rgb(173, 110, 65) ;
 }
 div .submit button:hover{
    color: white;
    background-color:rgb(173, 110, 65) ;
 }
 nav form button {
    border-color: white !important;
 }

 .category .color{
    color:rgb(173, 110, 65) ;
 }

.image img {
    width:300px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    transform: translateY(20px);
}
.image img:hover{
    transform: rotate(0);
}
div.menu {   
    width: 80%;
    border-bottom: 2px  solid rgb(173, 110, 65) !important;
    
   
}
.menu h4 {
    color:rgb(173, 110, 65) ;
    
}
div .row{
    width: 80vh;
}
div .card-body{
    color: rgb(173, 110, 65) ;
}
.column1 {
    width: 80%;
    margin: auto;
}

div .product{   
    width: 80%;
    margin: auto;
    border-bottom: 2px  solid rgb(173, 110, 65) !important;
    
   
}
.product h4 {
    color:rgb(173, 110, 65) ;
    
}
.column1 h3 {
    font-size: 20px;
}

.gallary h4 {
    color:rgb(173, 110, 65) ;
}
.gallary1 img {
    width:300px;
    border-radius: 8px;
}
main span{
    color:rgb(173, 110, 65);
}
 main .box{
    background:linear-gradient(90deg,  white 80%, rgb(173, 110, 65)20% );
    border-radius:8px ;
    justify-content: space-around;


}
main .contact{
    width: 80%;
    margin:auto;
}

main div .person input{
    border: none;
    border-bottom: 2px  solid rgb(173, 110, 65);
    width:350px;
}

div .person button{
    background-color:rgb(173, 110, 65) ;
    color: white;
    border: none;
}
main p{
    font-size: 15px;
}
div .info{
    width: 320px;
    height: 320px;
    background-color: black;
    color: white;  
    align-self:flex-end ;
}
div .info div{
    margin-top:8px ;
    
}
.latest span{
    color:rgb(173, 110, 65) ;
}

.blogs a {
    background-color:rgb(173, 110, 65) !important ;
    border: none;
}
footer{
    background: rgb(173, 110, 65);
}
footer .logo{
    color:white ;
}
footer div{
    font-size: small;
}
